    <div>
      <h1>{{name}}</h1>
      <p>Capital: <span>{{capital}}</span></p>
      <p>Population: <span>{{population}}</span></p>
      <p>Languages: </p>
      <ul>
          {{#each languages}}
        <li>{{name}}</li>
        {{/each}}
      </ul>
    </div>
    <div>
      <img src="{{flag}}" alt="{{name}} flag" />
    </div>
